<% content_for :meta_title do %>
<%= page.title %>
<% end %>

<% content_for :meta_description do %>
<%= page.description %>
<% end %>

<% content_for :share_image do %>
<%= page.img %>
<% end %>

<style>
  .article .embedly-card { text-decoration: none; color: black; }
</style>

<div class="article" id="article">
  <script>
    document.write('<a class="embedly-card" href="<%= page.url %>">Загружаю страницу <%= page.url %></a>');
  </script>

  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>
</div>

<div class="share-buttons">
<center>
  <script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
  <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,odnoklassniki,facebook,twitter,moimir,gplus" data-yashareTheme="counter"></div> 
</center>
</div>

<br />

<div id="hypercomments_widget"></div>
<a href="http://hypercomments.com" class="hc-link" title="comments widget">комментарии на технологии HyperComments</a>

<script type="text/javascript">
_hcwp = window._hcwp || [];
var _hc_settings = {
  widget:"Stream", widget_id:20856,
  xid: "<%= page.url %>".replace(/http:\/\//, ""),
  href: "<%= page.url %>".replace(/http:\/\//, "")
};
_hcwp.push(_hc_settings);

(function() {
 if("HC_LOAD_INIT" in window)return;
 HC_LOAD_INIT = true;
 var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "ru").substr(0, 2).toLowerCase();
 var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
 hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/20856/"+lang+"/widget.js";
 var s = document.getElementsByTagName("script")[0];
 s.parentNode.insertBefore(hcc, s.nextSibling);
 })();
</script>

