<% content_for :meta_title do %>
<%= page.title %>
<% end %>

<% content_for :meta_description do %>
<%= page.text %>
<% end %>

<% content_for :share_image do %>
<%= page.img %>
<% end %>

<style>
</style>

<small>Владелец сайта <a href="/comments/<%= page.domain %>"><%= page.domain %></a> запретил комментарии к статье <em>"<%= page.title %>"</em>. <strong>А мы -- разрешаем!</strong> Комментируйте на здоровье.</small>

<h1><%= page.title %></h1>


<% if page.video.present? %>
  <p><%= video_tag page.video %></p>
<% elsif page.img.present? %>
  <img src="<%= page.img %>" />
<% end %>

<% if page.text.mb_chars.size > 512 %>
  <div class="widget" data-widget="toggable">
    <div class="section-1">
      <p><%= page.text.truncate(512, omission: "…") %></p>
    </div>
    <div class="section-2 hidden">
      <p><%= page.text %></p>

      <img src="<%= favicon_url(page.domain) %>" width="16" height="16" /> <a href="<%= page.url %>" target="_blank" title="Источник"><%= page.domain %></a>
    </div>
    <button class="toggle-button" data-text-1="Развернуть" data-text-2="Свернуть">Развернуть</button>
  </div>
<% else %>
  <p><%= page.text %></p>
  <img src="<%= favicon_url(page.domain) %>" width="16" height="16" /> <a href="<%= page.url %>" target="_blank" title="Источник"><%= page.domain %></a>
<% end %>



<div class="share-buttons">
<center>
  <script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
  <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,odnoklassniki,facebook,twitter,moimir,gplus" data-yashareTheme="counter"></div> 
</center>
</div>

<br />


<br />
<small>Комментировать можно без регистрации</small>
<div id="hypercomments_widget"></div>
<a href="http://hypercomments.com" class="hc-link" title="comments widget">комментарии на технологии HyperComments</a>

<script type="text/javascript">
_hcwp = window._hcwp || [];
var _hc_settings = {
  widget:"Stream", widget_id:20856,
  xid: "<%= page.url %>".replace(/http:\/\//, ""),
  href: "<%= page.url %>".replace(/http:\/\//, "")
};
_hcwp.push(_hc_settings);

(function() {
 if("HC_LOAD_INIT" in window)return;
 HC_LOAD_INIT = true;
 var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "ru").substr(0, 2).toLowerCase();
 var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
 hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/20856/"+lang+"/widget.js";
 var s = document.getElementsByTagName("script")[0];
 s.parentNode.insertBefore(hcc, s.nextSibling);
 })();
</script>

<br />

<% other_pages = Page.where(:domain => page.domain).where.not(:id => page.id).order("created_at DESC").limit(3) %>

<% if other_pages.present? %>
  <strong>Что еще комментируют на сайте <a href="/comments/<%= page.domain %>"><%= page.domain %></a></strong>
  <br />
  <br />
  <% for page in other_pages %>
    <img src="<%= favicon_url(page.domain) %>" width="16" height="16" /> <a href="<%= page_path page.url %>"><%= page.title %></a>
    <br />
  <% end %>
<% end %>
