<% content_for :meta_description do %>
Здесь можно обсуждать то, что обсуждать запрещено. Владелец сайта запретил комменатрии? Комментировать можно на No Comment!
<% end %>

<style>
  .devider { font-size: 300%; padding-top: 40px; padding-bottom: 40px; }

  .site-preview { float: left; padding-right: 20px; width: 200px; height: 200px; overflow: hidden; }
  .site-preview .logo { background: grey; width: 180px; height: 100px }
  .site-preview .description { color: grey; font-size: 80% }
  p.nl  { clear: both }
</style>

<form id="add-page-form" class="add-page-form">
  <table width="100%">
    <tr>
      <td width="100%" valign="top">
        <input type="text" name="url" id="url" placeholder="URL-адрес статьи, видео или страницы" style="width: 100%; font-size: 150%" />
      </td>
      <td align="right" valign="top">
        <input type="submit" value="Комментировать!" style="font-size: 150%" />
        <em style="font-size: 120%">(без регистрации)</em>
      </td>
    </tr>
  </table>
</form>

<br />
<br />
<br />

<center><h1>Сейчас обсуждают</h1></center>

<table cellspacing="10px">
  <% for group in Page.published.order("created_at DESC").limit(9).in_groups_of(3, false) %>
    <tr>
      <% for page in group %>
        <td valign="top">
          <div class="article">
            <img src="http://#{page.domain}/favicon.ico" width="16" height="16" /> <a href="<%= page_path page.url %>"><%= page.title %></a>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<a href="/comments">…что еще?</a>

<br />
<br />
<br />

<center><h1>Для чего этот сайт?</h1></center>

Есть много интересных сайтов, пользователи которых лишены возможности высказать свое мнение. Иногда промолчать бывает сложно.

<ul>
  <li>владелец сайта отключил комментарии к статье</li>
  <li><em>или</em> на сайте требуется регистрация/оплата</li>
  <li><em>или</em> Вашего пользователя заблокировали</li>
</ul>

<strong>… а Вы все равно хотите высказаться?</strong>

<p>Скопируйте url-адрес статьи или видео, создайте обсуждение на No Comment! и комментируйте.</p>

<form id="add-page-form" class="add-page-form">
  <table width="100%">
    <tr>
      <td width="100%" valign="top">
        <input type="text" name="url" id="url" placeholder="URL-адрес статьи, видео или страницы" style="width: 100%; font-size: 100%" />
      </td>
      <td align="right" valign="top">
        <input type="submit" value="Комментировать!" style="font-size: 100%" />
        <em style="font-size: 90%">(без регистрации)</em>
      </td>
    </tr>
  </table>
</form>


<br />
<br />
<br />

<center><h1>Потенциальные клиенты</h1></center>

<p>Мы за <em>свободу слова</em>, но смотрите, сколько сайтов ограничивают обсуждение своих материалов!</p>

<% clients = [
  { :url => "http://www.vesti.ru" },
  { :url => "http://ria.ru" },
  { :url => "http://www.interfax.ru" },
  { :url => "http://www.bbc.co.uk/russian", :desc => "Комментировать можно только некотоые статьи, коих меньшинство" },
  { :url => "http://www.gazeta.ru" },
  { :url => "http://sprotyv.info/ru", :desc => "Недавно запретили комментарии" },
  { :url => "http://www.unian.net" },
  { :url => "http://tvrain.ru", :desc => "Комментарии только для платных пользователей" },
  { :url => "http://ru.tsn.ua" },
  { :url => "http://youtube.com", :desc => "Иногда видео нельзя комментировать" },
  { :url => "http://vk.com", :desc => "Некоторые пользователи запрещают комментарии" },
  { :url => "http://facebook.com", :desc => "Некоторые пользователи запрещают комментарии" },
  { :url => "http://livejournal.com", :desc => "К некоторым статьям комментарии запрещены" },
  { :url => "http://roi.ru" },
  { :url => "http://www.snob.ru" },
] %>


<% for client in clients %>
  <div class="site-preview">
    <div class="logo"></div>
    <div class="link"><a href="/comments/<%= Page.prepare_domain(Addressable::URI.paprse(client[:url]).host) %>"><%= URI(client[:url]).host %></a></div>
    <div class="description"><%= client[:desc] || "Комментарии запрещены" %></div>
  </div>
<% end %>

<p class="nl"></p>

<p>Каждый их пользователь потенциально -- наш!</p>




