<html lang="ru">
<head>
  <meta charset='UTF-8' />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta content="комментарии, комментировать, запрещено, отключено, забанен, заблокирован, no comment" name="keywords"></meta>

  <meta name="description" content="<%= yield_content(:meta_description).gsub(/\s+/, " ").mb_chars.truncate(160, omission: "…") %>" /> 
  <meta property="og:description" content="<%= yield_content(:meta_description).gsub(/\s+/, " ").mb_chars.truncate(160, omission: "…") %>" />

  <meta property="og:type" content="article" />

  <meta property="og:title" content="<%= yield_content(:meta_title).truncate(140, omission: "…") %>" />
  <meta property="og:image" content="<%= yield_content :share_image %>" />
  <link rel="image_src" href="<%= yield_content :share_image %>" />

  <title><%= yield_content(:meta_title).presence || "No Comment! То, что обсуждать нельзя" %></title>

  <style>
    body { font-size: 100% }
   
    #page { width: 100%;  max-width: 750px; text-align: left; }
    #container { min-height: 300px }
    #logo a { text-decoration: none; color: black }
    
    .hidden { display: none }
  </style>
</head>
<body>
  <center>
    <div id="page">
      <div>
        <div id="logo">
          <a href="/">
            <span class="picture" style="float:left; font-size: 300%; padding-right: 15px">✍</span>
            <span style="font-size: 200%;"> <strong>No Comment!</strong></span>
            <br />
            <em>То, что обсуждать нельзя</em>
          </a>
        </div>
        <span style="clear:both"></span>
      </div>

      <hr />
      <br />
      <br />

      <div id="container">
        <%= yield %>
      </div>

      <br />
      <br />
      <br />

      <hr />
      <footer>
        2014 &copy; <a href="/">No comment!</a>, <a href="http://no-comment.reformal.ru/">Отзывы и предложения</a>, Автор идеи: <a href="http://www.sergei-udalov.ru" target="_blank">Сергей Удалов</a>
        <%= erb "shared/counter".to_sym %>
      </footer>
    </div>
  </center>

  </body>

  <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
